@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root{
    --maroon: #6F1D1B;
    --beige: #BB9457;
    --dark-brown: #432818;
    --brown:#99582A;
    --skin: #FFE6A7;
    --gray:#a7a7a7;
    margin:0;
    padding:0;
    font-family: 'Playfair Display', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --navbar-height:15vh;
    --navbar-height-desktop:6rem;
}

a:link, a:hover, a:visited, a:active{
    color:white;
    text-decoration: none;
}

h2{
    text-align:center;
}

p{
    margin:.75rem;
}

body{
    margin:0;
    min-height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#exclaimer{
    color:red;
    font-size:3rem;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
}

/* NAVBAR */

#navbarContainer{
    display:flex;
    height:var(--navbar-height);
    width:100%;
    top:0;
    left:0;
    right:0;
    background-color:var(--skin);
    position:fixed;
    box-shadow: #000000 0px 0px 5px .5px;
    align-items: flex-start;
    overflow: hidden;
    transition: 300ms ease;
    justify-content: space-between;
    flex-wrap:wrap;
    z-index:10;
}

#logoContainer{
    display:flex;
    height: var(--navbar-height);
    width:20vw;
    align-items: center;
}

#logo{
    height:100%;
    transition: 300ms ease;
}

#navbar{
    width:100%;
    display:grid;
    grid-auto-flow: row;
    grid-gap:1.5rem;
    align-items: center;
    justify-items: center;
    margin:.5rem;
}

.navbarButtons{
    display:none;
    color:black;
}

.menuButton{
    height:var(--navbar-height);
    display:flex;
    text-align: center;
    width: 3rem;
    justify-content: center;
    align-items: center;
    color:black;
    font-size:2rem;
    margin-left:auto;
}

#openMenuButton{
    display:flex;
}

#closeMenuButton{
    display: none;
    height:var(--navbar-height);
    line-height:var(--navbar-height);
}

/*HOME PAGE CONTENT */

/* SCENE */

#navbarFiller{
    height:var(--navbar-height);
    transition: 300ms ease;
}

#imageContainer{
    margin-top:.5rem;
    display:grid;
    grid-auto-flow: row;
    align-content:center;
    grid-gap:.5rem;
}

.imageScene{
    background-size:cover;
    background-position:center;
    height:auto;
    width:min(1000px, 100vw);
}

/*BROWSE PRODUCTS */

.abc{
    width:100%
}

div.abc{
    background-color:var(--maroon);
    position:relative;
    z-index:-1;
}

#browseProducts{
    margin:.7rem;
    display:grid;
    width:min(1300px, 95%);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    grid-gap:1rem;
    padding:.3rem;
}

.homeProducts{
    width:100%;
    height:15rem;
    object-fit: cover;
    object-position: center;
}

.homeProductDescription{
    position: relative;
    color:black;
    height:2rem;
    background-color:#FFE6A7;
    line-height: 2rem;
    padding:0rem 0rem 0rem .5rem;
    transform: translate(0%, -12.5%);
}

/*ABOUT US */

#aboutUsHome{
    margin:1rem 1rem;
    text-align: center;
    width:min(800px, 95vw)
}

/* FOOTER */

#footerContainer{
    margin-top: auto;
    background-color: var(--beige);
    padding: 1rem 0rem;
    width:100%;
}

#informationContainer{
    display:grid;
    align-items: center;
    justify-content: center;
}

#contact:hover{
    color:black;
}

/*Instruments Page*/

h1{
    text-align: center;
}

#instrumentsButtonsContainer{
    display:grid;
    grid-auto-flow: column;
    grid-gap:1.5rem;
    margin:2rem 5rem;
}

.instrumentButton{
    background-color:transparent;
    border:none;
    height:2rem;
    font-size:1.5rem;
}

#instrumentsContainer{
    margin:1rem 1rem;
    display:grid;
    width:min(1300px, 95%);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    grid-gap:1rem;
}

.product{
    width:100%;
    height:25rem;
    object-fit: cover;
    object-position: center;
    cursor:pointer;
}

.productDescription{
    display:flex;
    position: relative;
    color:black;
    height:4rem;
    background-color:#FFE6A7;
    line-height: 2rem;
    padding:0rem 0rem 0rem .5rem;
    transform: translate(0%, -100%);
}

.price{
    display:inline;
    font-size:.5rem;
}

#imageCollection{
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:12;
    grid-auto-flow: column;
    grid-gap:1rem;
    scale:0;
    transition:600ms ease;
}

#overlay{
    display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgb(0, 0, 0, .55);
    z-index:11;
    scale:0;
    transition:600ms ease;
}

.productImageContainer{
    width:100%;
    max-height:60vh;
    object-fit: cover;
    object-position: center;
}

/*About Us Page */

p.aboutUs{
    max-width:40rem;
}

.aboutUs{
    text-align: center;
}

/* RENT TO BUY PAGE */

#rentToOwnContainer{
    width:100%;
    display:grid;
    grid-auto-flow: column;
    align-items:center;
    grid-template-columns:1fr 1fr;
}

.pictureContainer{
    background-position:center;
    background-size:cover;
    padding:1.5rem;
}

.picture{
    width:100%;
}

#rentToOwn{
    display:flex;
    flex-direction: column;
    align-items: center;
    grid-area:2/1/3/3;
}

#violinImage1{
    grid-area:1/1/2/2;
}

#violinImage2{
    grid-area:1/2/2/3
}

/* CONTACT PAGE */

#contactPage{
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* MEDIA QUERIES*/

@media(min-width:1000px){

    .navbarButtons{
        display:block;
    }

    #navbarContainer{
        height:var(--navbar-height-desktop);
        align-items: center;
    }

    #navbarFiller{
        height:var(--navbar-height-desktop);
    }

    #navbar{
        width:auto;
        grid-auto-flow:column;
        order:3;
    }

    #logoContainer{
        max-height: var(--navbar-height-desktop);
    }

    #logo{
        height:var(--navbar-height-desktop);
    }

    #openMenuButton{
        display:none;
    }

    #closeMenuButton{
        display:none;
    }

}

@media(min-width:1200px){
    #imageContainer{
        grid-auto-flow: column;
    }
    .imageScene{
        width:max(600px, 45vw);
    }
}

@media(min-width:1400px){
    #rentToOwnContainer{
        grid-template-rows: 1fr;
        grid-template-columns:1fr 1fr 1fr;
    }

    #violinImage1{
        grid-column: 1/2;
    }

    #violinImage2{
        grid-column: 3/4;
    }
    #rentToOwn{
        grid-area:1/2/1/3
    }
    .pictureContainer{
        padding:5%;
    }
}

