@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root{
    --maroon: #6F1D1B;
    --beige: #BB9457;
    --dark-brown: #432818;
    --brown:#99582A;
    --skin: #FFE6A7;
    --gray:#a7a7a7;
    margin:0;
    padding:0;
    font-family: 'Playfair Display', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --navbar-height:15vh;
    --navbar-height-desktop:6rem;
}

a:link, a:hover, a:visited, a:active{
    color:white;
    text-decoration: none;
}

body{
    margin:0;
    min-height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#exclaimer{
    color:red;
    font-size:3rem;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
}

/* NAVBAR */

#navbarContainer{
    display:flex;
    height:var(--navbar-height);
    width:100%;
    top:0;
    left:0;
    right:0;
    background-color:var(--maroon);
    color:white;
    position:fixed;
    box-shadow: #000000 0px 0px 5px .5px;
    align-items: flex-start;
    overflow: hidden;
    transition: 300ms ease;
    justify-content: space-between;
    flex-wrap:wrap;
    z-index:100;
}

#logoContainer{
    display:flex;
    max-height: var(--navbar-height);
    width:20vw;
    align-items: center;
}

#logo{
    height:var(--navbar-height);
    transition: 300ms ease;
}

#navbar{
    height:var(--navbar-height);
    display:grid;
    grid-auto-flow: column;
    grid-gap:1.5rem;
    align-items: center;
    justify-items: center;
    margin: 0rem 2rem;
}

.navbarButtons{
    display:none;
}

.menuButton{
    text-align: center;
    width: 3rem;
    height:var(--navbar-height);
    color:black;
    font-size:2rem;
    line-height:var(--navbar-height);
    margin: 0rem .5rem;
}

#openMenuButton{
    display:block;
}

#closeMenuButton{
    display: none;
    height:var(--navbar-height);
    line-height:var(--navbar-height);
}

/*HOME PAGE CONTENT */

/* SCENE */

#navbarFiller{
    height:var(--navbar-height);
    transition: 300ms ease;
}

#imageContainer{
    margin-top:.5rem;
    display:grid;
    grid-auto-flow: row;
    align-content:center;
    grid-gap:.5rem;
}

.imageScene{
    background-size:cover;
    background-position:center;
    height:auto;
    width:min(1000px, 100vw);
}

/*BROWSE PRODUCTS */

.abc{
    width:100%
}

#browseProducts{
    margin:1rem 1rem;
    display:grid;
    width:min(1300px, 95%);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    grid-gap:1rem;
}

.homeProducts{
    width:100%;
    height:15rem;
    object-fit: cover;
    object-position: center;
}

.homeProductDescription{
    position: relative;
    color:black;
    height:2rem;
    background-color:#FFE6A7;
    line-height: 2rem;
    padding:0rem 0rem 0rem .5rem;
    transform: translate(0%, -12.5%);
}

/*ABOUT US */

#aboutUsHome{
    margin:1rem 1rem;
    text-align: center;
    width:min(800px, 95vw)
}

/* FOOTER */

#footerContainer{
    margin-top: auto;
    background-color: var(--gray);
    padding: 1rem 0rem;
    width:100%;
}

#informationContainer{
    display:grid;
    align-items: center;
    justify-content: center;
}

#contact:hover{
    color:black;
}

/*Instruments Page*/
/*
h1{
    text-align: center;
}

#instrumentsButtonsContainer{
    display:grid;
    grid-auto-flow: column;
    grid-gap:1.5rem;
    margin:2rem 5rem;
}

.instrumentButton{
    background-color:transparent;
    border:none;
    height:2rem;
    font-size:1.5rem;
}

#instrumentsContainer{
    display:grid;
    margin:2rem 5rem;
}

/*About Us Page */
/*
p.aboutUs{
    max-width:40rem;
}

.aboutUs{
    text-align: center;
}

/* MEDIA QUERIES*/

@media (max-width:350px){

}

@media (min-width:600px){

}
@media (min-width:800px){

}

@media(min-width:1000px){

    .navbarButtons{
        display:block;
    }

    #navbarContainer{
        height:var(--navbar-height-desktop);
    }

    #navbarFiller{
        height:var(--navbar-height-desktop);
    }

    #navbar{
        height:var(--navbar-height-desktop);
        margin:0rem .5rem;
        grid-auto-flow:column;
        order:3;
    }

    #logoContainer{
        max-height: var(--navbar-height-desktop);
    }

    #logo{
        height:var(--navbar-height-desktop);
    }

    #openMenuButton{
        display:none;
    }

    #closeMenuButton{
        display:none;
    }

}

@media(min-width:1200px){
    #imageContainer{
        grid-auto-flow: column;
    }
    .imageScene{
        width:max(600px, 45vw);
    }
}

